body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.Principal {
  display: flex;
  min-height: 100vh;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.izquierda,
.derecha {
  width: 50%;
  background-color: white;
  padding: 40px;
}

.derecha {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.Titulo {
  font-size: 24px;
  font-weight: bold;
  color: #111;
  margin-bottom: 16px;
}

.subtitulo {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.Puntos {
  list-style: none;
  padding: 0px;
  margin-bottom: 24px;
}

.Punto {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  color: black;
  padding: 5px;
}

.Punto img {
  margin-right: 10px;
  margin-top: 3px;
}

.InputEmail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Email {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.Boton button {
  padding: 10px;
  font-size: 14px;
  background-color: #1c2230;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.Boton button:hover {
  background-color: #151a24;
}

.Clicked {
  background-color: #2c3650;
}
